<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368796721209-mg7smdqil2nu9n4kgq22l7f3gc1n9f2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368796721209-mg7smdqil2nu9n4kgq22l7f3gc1n9f2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAeCSUHG8bri0t23QIvotPUvo_IYgZLNAw</string>
	<key>GCM_SENDER_ID</key>
	<string>368796721209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doft</string>
	<key>PROJECT_ID</key>
	<string>startup-9945a</string>
	<key>STORAGE_BUCKET</key>
	<string>startup-9945a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368796721209:ios:def0845232ae3e3b53ade8</string>
</dict>
</plist>